.sign {
  padding: 4rem;
  background: ivory;
}

h2 {
  text-align: center;
}

.sign-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  max-width: 1000px;
  width: 60%;
  height: 110%;
  margin: 20px auto;
  background-color: #242424;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  color: white;
}

.box {
  padding: 8px 20px;
  border-radius: 2px;
  margin-top: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  overflow: hidden;
  /* border: 1px solid #fff */
}

.form {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solif #fff
}

#btn-signup {
  background-color: green;
  color: #fff;
  width: 60%;
  height: 40px;
}
